<ng-template #template>
<div class="p-4">
    <div id="titulo" class="input-group d-flex flex-wrap flex-md-nowrap align-items-center mb-3">
    <div class="input-group-prepend pr-2">
        <button class="rounded-circle border-0 ">
        <!-- <button class="rounded-circle border-0 " (click)="fecharItem()"> -->
        <i class="fas fa-arrow-left"></i>
        </button>
    </div>

    <h4 style="color:#434343; font-weight: 700;">Menu</h4>
    </div>

    <ul class="itens-menu">
    <li class="item shadow-sm rounded mb-2 bg-white">
        <button class="w-100 p-2 border-0 bg-transparent">
        <div class="media" style="display: flex; align-items: center;">
            <img class="mr-3 rounded-circle"
            src="../../../../assets/amazon/ft/99055632_158647448972525_3629662387809812480_o.jpg" width="48"
            height="48" alt="Imagem de exemplo genérica">
            <div class="media-body text-left">
            <p class="h6 m-0">Matheus Henrique Conceição Bonore</p>
            Veja seu perfil
            </div>
        </div>
        </button>
    </li>
    <li class="item shadow-sm rounded mb-2 bg-white">
        <button class="w-100 p-2 border-0 bg-transparent" id="buttonCollapseFeedback" data-toggle="collapse"
        data-target="#collapseFeedback" aria-expanded="false" aria-controls="collapseFeedback"
        (click)="mudarCollapse(0)">
        <div class="media" style="display: flex; align-items: center;">
            <div class="mr-3 rounded-circle"
            style="width: 48px; height: 48px; background-color: #E4E6EB; color:#5F666F; display: flex; align-items: center; justify-content: center; font-size: x-large;">
            <i class="fas fa-exclamation"></i>
            </div>
            <div class="media-body text-left">
            <p class="h6 m-0">Dar feedback</p>
            Ajude-nos a melhorar o Dogão
            </div>
            <div class="ml-3" id="arrow"
            style="width: 48px; height: 48px; color:#5F666F; display: flex; align-items: center; justify-content: center; font-size: large;">
            <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        </button>
        <div id="collapseFeedback" class="collapse">
        <button class="w-100 p-2 border-0 bg-transparent">
            <div class="media" style="display: flex; align-items: center;">
            <div class="mr-3 rounded-circle"
                style="width: 48px; height: 48px; background-color: #E4E6EB; color:#5F666F; display: flex; align-items: center; justify-content: center; font-size: x-large;">
                <img src="../../../../assets/amazon/logo4.png" width="25px" height="25px">
            </div>
            <div class="media-body text-left">
                <p class="h6 m-0">Ajude-nos a melhorar o Dogão</p>
                Dê feedback sobre sua experiência no Dogão
            </div>
            </div>
        </button>
        </div>
    </li>
    <ul class="grupo shadow-sm rounded mb-2 bg-white">
        <li>
        <button class="w-100 p-2 border-0 bg-transparent" id="buttonCollapseConfiguracoes" data-toggle="collapse"
            data-target="#collapseConfiguracoes" aria-expanded="false" aria-controls="collapseConfiguracoes"
            (click)="mudarCollapse(1)">
            <div class="media" style="display: flex; align-items: center;">
            <div class="mr-3 rounded-circle"
                style="width: 48px; height: 48px; background-color: #E4E6EB; color:#5F666F; display: flex; align-items: center; justify-content: center; font-size: x-large;">
                <i class="fas fa-cog"></i>
            </div>
            <div class="media-body text-left">
                <p class="h6 m-0">Configurações</p>
            </div>
            <div class="ml-3" id="arrow"
                style="width: 48px; height: 48px; color:#5F666F; display: flex; align-items: center; justify-content: center; font-size: large;">
                <i class="fas fa-chevron-right"></i>
            </div>
            </div>
        </button>
        <div id="collapseConfiguracoes" class="collapse">
            <button class="w-100 p-2 border-0 bg-transparent">
            <div class="media" style="display: flex; align-items: center;">
                <div class="mr-3 rounded-circle"
                style="width: 48px; height: 48px; background-color: #E4E6EB; color:#5F666F; display: flex; align-items: center; justify-content: center; font-size: x-large;">
                <i class="fas fa-cog"></i>
                </div>
                <div class="media-body text-left">
                <p class="h6 m-0">Ajustes</p>
                </div>
            </div>
            </button>
            <button class="w-100 p-2 border-0 bg-transparent">
            <div class="media" style="display: flex; align-items: center;">
                <div class="mr-3 rounded-circle"
                style="width: 48px; height: 48px; background-color: #E4E6EB; color:#5F666F; display: flex; align-items: center; justify-content: center; font-size: x-large;">
                <i class="fas fa-list"></i>
                </div>
                <div class="media-body text-left">
                <p class="h6 m-0">Registro de atividades</p>
                </div>
            </div>
            </button>
            <hr>
        </div>
        </li>
        <li>
        <button class="w-100 p-2 border-0 bg-transparent" id="buttonCollapseAjuda" data-toggle="collapse"
            data-target="#collapseAjuda" aria-expanded="false" aria-controls="collapseAjuda" (click)="mudarCollapse(2)">
            <div class="media" style="display: flex; align-items: center;">
            <div class="mr-3 rounded-circle"
                style="width: 48px; height: 48px; background-color: #E4E6EB; color:#5F666F; display: flex; align-items: center; justify-content: center; font-size: x-large;">
                <i class="fas fa-question"></i>
            </div>
            <div class="media-body text-left">
                <p class="h6 m-0">Ajuda e suporte</p>
            </div>
            <div class="ml-3" id="arrow"
                style="width: 48px; height: 48px; color:#5F666F; display: flex; align-items: center; justify-content: center; font-size: large;">
                <i class="fas fa-chevron-right"></i>
            </div>
            </div>
        </button>
        <div id="collapseAjuda" class="collapse">
            <button class="w-100 p-2 border-0 bg-transparent">
            <div class="media" style="display: flex; align-items: center;">
                <div class="mr-3 rounded-circle"
                style="width: 48px; height: 48px; background-color: #E4E6EB; color:#5F666F; display: flex; align-items: center; justify-content: center; font-size: x-large;">
                <i class="fas fa-question"></i>
                </div>
                <div class="media-body text-left">
                <p class="h6 m-0">Central de ajuda</p>
                </div>
            </div>
            </button>
            <button class="w-100 p-2 border-0 bg-transparent">
            <div class="media" style="display: flex; align-items: center;">
                <div class="mr-3 rounded-circle"
                style="width: 48px; height: 48px; background-color: #E4E6EB; color:#5F666F; display: flex; align-items: center; justify-content: center; font-size: x-large;">
                <i class="fas fa-comment-alt"></i>
                </div>
                <div class="media-body text-left">
                <p class="h6 m-0">Comunidade de ajuda</p>
                </div>
            </div>
            </button>
            <hr>
        </div>
        </li>
        <li>
        <button class="w-100 p-2 border-0 bg-transparent">
            <div class="media" style="display: flex; align-items: center;">
            <div class="mr-3 rounded-circle"
                style="width: 48px; height: 48px; background-color: #E4E6EB; color:#5F666F; display: flex; align-items: center; justify-content: center; font-size: x-large;">
                <i class="fas fa-sign-out-alt"></i>
            </div>
            <div class="media-body text-left">
                <p class="h6 m-0">Sair</p>
            </div>
            </div>
        </button>
        </li>
    </ul>
    </ul>
</div>
</ng-template>