<form>
	<!-- STEP 1 -->
	<div id="passo-1">
		<h3>Fazer login</h3>
		<p>Use sua conta do Dogão. Você também fará parte de uma comunidade apaixonada por animais de estimação.</p>

		<div class="form-group mt-5">
			<!-- <label for="email-telefone">E-mail ou telefone</label> -->
			<input type="text" class="form-control rounded-pill" name="email_telefone" [(ngModel)]="form.email_telefone"
				id="email-telefone" placeholder="E-mail ou telefone" autocomplete="off" required>
			<div class="clearfix">
				<button type="button" [routerLink]='["/autenticacao/recuperar/email"]'
					class="btn btn-link pl-0 pr-0 float-left">Esqueceu
					seu e-mail?</button>
			</div>
		</div>

		<div class="clearfix mt-3 mb-3">
			<button type="button" [routerLink]='["/autenticacao/cadastrar"]' class="btn btn-link pl-0 pr-0 float-left">Criar
				conta</button>
			<button type="button" class="btn btn-success rounded-pill float-right" (click)="irParaPasso2()">Próxima</button>
		</div>

		<p>ou entrar com</p>

		<div class="redes-sociais">
			<button type="button" class="btn btn-light"><img src="../../../assets/amazon/logo-google.png" alt=""
					srcset=""></button>
			<button type="button" class="btn btn-light"><img src="../../../assets/amazon/logo-facebook.png" alt=""
					srcset=""></button>
		</div>
	</div>

	<!-- STEP 2 -->
	<div id="passo-2" hidden="">
		<img src="../../../assets/amazon/user-default.png" class="rounded-circle mt-1" width="130" alt="" srcset="">

		<h3>Olá Matheus</h3>
		<p>matheus.bonore@gmail.com</p>

		<div class="form-group mt-1">
			<!-- <label for="senha">Senha</label> -->
			<input type="text" class="form-control rounded-pill" id="senha" placeholder="Senha" autocomplete="off" required
				name="senha" [(ngModel)]="form.senha">
			<div class="clearfix mt-3">
				<button type="button" [routerLink]='["/autenticacao/recuperar/senha"]'
					class="btn btn-link pl-0 pr-0 float-left">Esqueceu
					sua senha?</button>
				<button type="button" class="btn btn-success rounded-pill float-right">Próxima</button>
			</div>
		</div>
	</div>
</form>