<form>
	<h3>Entrar</h3>
	<p>Use sua conta do Dogão. Você também fará parte de um comunidade apaixonada por animais de estimação.</p>

	<div class="form-group label-float" style="margin-top:55px;">
		<!-- <label for="email-telefone">E-mail ou telefone</label> -->
		<input type="text" class="form-control" id="email-telefone" placeholder="E-mail ou telefone" autocomplete="off" required>
		<div class="clearfix">
			<button type="button" class="btn btn-link float-left">Esqueceu seu e-mail</button>
		</div>
	</div>

	<div class="clearfix" style="margin-top: 30px; margin-bottom:30px;">
		<button type="button" class="btn btn-link float-left">Criar conta</button>
		<button type="submit" class="btn btn-radius btn-success float-right">Próxima</button>
	</div>

	<p>ou entrar com</p>

	<div class="entrar-com">
		<button type="button" class="btn btn-light"><img src="../../../assets/amazon/logo-google.png" alt=""
				srcset=""></button>
		<button type="button" class="btn btn-light"><img src="../../../assets/amazon/logo-facebook.png" alt=""
				srcset=""></button>
	</div>
</form>