.form-control {
	border-width: 3px;
	background-color: #fcfcfc;
	border-radius: 25px;
}

.btn-radius {
	border-radius: 25px;
}

.btn-success {
	border-color: #7cbb00;
	background-color: #7cbb00;
}

.btn-link {
	padding-left: 0;
	padding-right: 0;
}

.redes-sociais {
	.btn:nth-child(1) {
		margin-right: 7.5px;
	}

	.btn:nth-child(2) {
		margin-left: 7.5px;
	}

	.btn {
		padding: 5px;
		border-color: #f4f4f4;
		background-color: #ffffff;

		img {
			width: 40px;
			height: 40px;
		}
	}
}
