<form>
  <!-- STEP 1 -->
  <div class="">
    <h3>Esqueceu sua Senha?</h3>
    <p style="margin-top: 25px;">Não se preocupe, estamos aqui para ajuda-lo a recupera-lo e acessar o Dogão novamente.
    </p>

    <div class="form-group" style="margin-top:55px;">
      <!-- <label for="email-telefone">E-mail ou telefone</label> -->
      <input type="text" class="form-control" id="email-telefone" placeholder="E-mail ou telefone" autocomplete="off"
        required>
    </div>

    <div class="clearfix" style="margin-top: 30px; margin-bottom:30px;">
      <button type="submit" class="btn btn-radius btn-success float-right">Próxima</button>
    </div>
  </div>

  <!-- STEP 2 -->
  <div class="d-none">
    <h3>Estamos quase lá...</h3>
    <p style="margin-top: 25px;">Vamos pedir agora oara que acesse o e-mail mat**********re@gmail.com e insira no campo
      abaixo o código que recebeu.</p>

    <div class="form-group" style="margin-top:25px;">
      <!-- <label for="codigo-verificacao">Código de verificação</label> -->
      <input type="text" class="form-control" id="codigo-verificacao" placeholder="Código de verificação"
        autocomplete="off" required>
    </div>

    <div class="clearfix" style="margin-top: 30px; margin-bottom:30px;">
      <button type="submit" class="btn btn-radius btn-success float-right">Próxima</button>
    </div>
  </div>

  <!-- STEP 3 -->
  <div class="d-none">
    <img src="../../../assets/amazon/user-default.png" width="130" alt="" srcset=""
      style="border-radius: 50%; margin-bottom: 10px;">

    <h3>Olá Matheus</h3>
    <p>Vamos definir uma nova senha</p>

    <div class="form-group" style="margin-top:15px;">
      <!-- <label for="senha">Senha</label> -->
      <input type="text" class="form-control" id="senha" placeholder="Senha" autocomplete="off" required>
    </div>

    <div class="form-group" style="margin-top:15px;">
      <!-- <label for="senha">Senha</label> -->
      <input type="text" class="form-control" id="senha" placeholder="Senha" autocomplete="off" required>
      <div class="clearfix" style="margin-top: 10px;">
        <!-- Voltar para o step 1 -->
        <button type="submit" class="btn btn-radius btn-success float-right">Próxima</button>
      </div>
    </div>

  </div>

  <!-- STEP 4 -->
  <div class="d-none">
    <img src="../../../assets/amazon/user-default.png" width="130" alt="" srcset=""
      style="border-radius: 50%; margin-bottom: 10px;">

    <h3>Olá Matheus</h3>
    <h4>Sua senha foi redefinida com sucesso.</h4>
    
    <button type="submit" class="btn btn-radius btn-success" style="margin-top: 25px;">Prosseguir para Login</button>
  </div>
</form>