<form #autenticacaoRecuperarSenhaForm="ngForm">
  <!-- STEP 1 -->
  <div id="passo-1" ngModelGroup="primeiraParte" *ngIf="verificarStep(1)">
    <h3>Esqueceu sua Senha?</h3>
    <p class="mt-2">Não se preocupe, estamos aqui para ajuda-lo a recupera-lo e acessar o Dogão novamente.
    </p>

    <div class="form-group mt-5">
      <!-- <label for="email-telefone">E-mail ou telefone</label> -->
      <input type="text" name="email" #email="ngModel" [(ngModel)]="usuario.email"
        [class.is-invalid]="email.invalid && (!email.pristine || autenticacaoRecuperarSenhaForm.submitted)"
        class="form-control rounded-pill" id="email-telefone" placeholder="E-mail ou telefone" autocomplete="off"
        required>
    </div>

    <div class="clearfix mt-3 mb-3">
      <button type="submit" class="btn btn-radius btn-success rounded-pill float-right"
        (click)="verificarEmailTelefone(usuario)">Próxima</button>
    </div>
  </div>

  <!-- STEP 2 -->
  <div id="passo-2" ngModelGroup="segundaParte" *ngIf="verificarStep(2)">
    <h3>Estamos quase lá...</h3>
    <p class="mt-2">Vamos pedir agora oara que acesse o e-mail {{usuario.email}} e insira no campo
      abaixo o código que recebeu.</p>

    <div class="form-group mt-5">
      <!-- <label for="codigo-verificacao">Código de verificação</label> -->
      <input type="text" name="codiigoVerificacao" [(ngModel)]="codigoVerificacao" class="form-control rounded-pill"
        id="codigo-verificacao" placeholder="Código de verificação" autocomplete="off" required>
    </div>

    <div class="clearfix mt-3 mb-3">
      <button class="btn btn-success rounded-pill float-left" (click)="enviarCodigoVerificacao(usuario)">Reenviar código
        <span *ngIf="!codigoVerificacao">(N segundos)</span>
      </button>
      <button type="submit" class="btn btn-success rounded-pill float-right"
        (click)="verificarCodigoVerificacao(usuario)">Próxima</button>
    </div>
  </div>

  <!-- STEP 3 -->
  <div id="passo-3" ngModelGroup="terceiraParte" *ngIf="verificarStep(3)">
    <img src="../../../assets/amazon/user-default.png" class="rounded-circle mb-1" width="130" alt="" srcset="">

    <h3 class="mt-2 text-capitalize">Olá {{usuario.nome}}</h3>
    <p>Vamos definir uma nova senha</p>

    <div class="form-group mt-5">
      <!-- <label for="senha">Senha</label> -->
      <input type="text" class="form-control rounded-pill" id="senha" placeholder="Senha" autocomplete="off" required>
    </div>

    <div class="form-group mt-1">
      <!-- <label for="senha">Senha</label> -->
      <input type="text" class="form-control rounded-pill" id="senha" placeholder="Senha" autocomplete="off" required>
    </div>

    <div class="clearfix mt-3">
      <!-- Voltar para o step 1 -->
      <button type="submit" class="btn btn-radius btn-success rounded-pill float-right">Próxima</button>
    </div>
  </div>

  <!-- STEP 4 -->
  <div id="passo-4" ngModelGroup="quartaParte" *ngIf="verificarStep(4)">
    <img src="../../../assets/amazon/user-default.png" class="rounded-circle mb-1" width="130" alt="" srcset="">

    <h3>Olá Matheus</h3>
    <h4>Sua senha foi redefinida com sucesso.</h4>

    <button type="submit" class="btn btn-radius btn-success mt-3">Prosseguir para Login</button>
  </div>
</form>

{{usuario | json}}
{{codigoVerificacao}}
{{senhaNova}}