<form>
	<!-- STEP 1 -->
	<div class="">
		<h3>Criar uma Conta do Dogão</h3>
		<p>Insira seu nome e sobrenome</p>

		<div class="form-group" style="margin-top:55px;">
			<!-- <label for="nome">Nome</label> -->
			<input type="text" class="form-control" id="nome" placeholder="Nome" autocomplete="off" required>
		</div>
		<div class="form-group" style="margin-top:5px;">
			<!-- <label for="sobrenome">Sobrenome</label> -->
			<input type="text" class="form-control" id="sobrenome" placeholder="Sobrenome" autocomplete="off" required>
		</div>

		<div class="clearfix" style="margin-top: 30px; margin-bottom:30px;">
			<button type="button" [routerLink]='["/autenticacao/entrar"]' class="btn btn-link float-left">Faça login em vez
				disso</button>
			<button type="submit" class="btn btn-radius btn-success float-right">Próxima</button>
		</div>

		<p>ou cadastrar com</p>

		<div class="redes-sociais">
			<button type="button" class="btn btn-light"><img src="../../../assets/amazon/logo-google.png" alt=""
					srcset=""></button>
			<button type="button" class="btn btn-light"><img src="../../../assets/amazon/logo-facebook.png" alt=""
					srcset=""></button>
		</div>
	</div>

	<!-- STEP 2 -->
	<div class="d-none">
		<h3>Confirme que você não é um robô</h3>
		<p style="margin-top: 25px;">Você vai receber um código de verificação no seu smartphone</p>

		<div class="form-group row" style="margin-top:25px;">
			<div class="col-2 col-form-label">
				<img src="../../../assets/amazon/Bandeiras/brasil.png" width="38" alt="" srcset="">
			</div>
			<div class="col-10">
				<!-- <label for="telefone">Telefone</label> -->
				<input type="text" class="form-control" id="telefone" placeholder="Telefone" autocomplete="off" required>
			</div>
		</div>
		<small id="telefone-ajuda" class="form-text text-muted">O Dogão verificará esse número a partir do envio de um SMS
			(sujeito a cobranças).</small>

		<div class="clearfix" style="margin-top: 30px; margin-bottom:30px;">
			<button type="submit" class="btn btn-radius btn-success float-right">Próxima</button>
		</div>
	</div>

	<!-- STEP 3 -->
	<div class="d-none">
		<h3>Seu código foi enviado...</h3>
		<p style="margin-top: 25px;">Dentro de segundos, você irá receber um código de verificação, caso demore muito.
			realize outra verificação</p>

		<div class="form-group" style="margin-top:25px;">
			<!-- <label for="codigo-verificacao">Código de verificação</label> -->
			<input type="text" class="form-control" id="codigo-verificacao" placeholder="Código de verificação" autocomplete="off" required>
			<small id="telefone-ajuda" class="form-text text-muted">O Dogão verificará esse número a partir do envio de um SMS
				(sujeito a cobranças).</small>
		</div>

		<div class="clearfix" style="margin-top: 30px; margin-bottom:30px;">
			<button type="submit" class="btn btn-radius btn-success float-left">Reenviar código (N segundos)</button>
			<button type="submit" class="btn btn-radius btn-primary float-right">Concluir</button>
		</div>
	</div>
</form>