<div class="modal-itens" *ngIf="itemSelecionado !== 'inicio'">
	<div class="modal-item" [ngSwitch]="itemSelecionado">
		<div id="categoria" class="item" *ngSwitchCase="'categoria'">
			<div id="pesquisa" class="input-group">
				<div class="input-group-prepend">
					<button class="pesquisar rounded-circle border-0" (click)="fecharItem()">
						<i class="fas fa-arrow-left"></i>
					</button>
				</div>

				<input type="text" class="form-control border-0 bg-white rounded-pill" placeholder="Pesquisar">

				<div class="input-group-prepend">
					<button for="pesquisar" class="pesquisar rounded-circle border-0">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>
			<div id="titulo" class="text-center text-white pt-2 pb-2">
				<h3 class="text-capitalize" *ngFor="let categoria of listaCategoria; let i = index"
					[ngClass]="{'d-none': !categoria.ativado}">{{ categoria.descricao }}</h3>
			</div>
			<div id="galeria-fotos">
				<div class="controles d-flex flex-row justify-content-between">
					<div class="fade" id="proximo">
						<button class="btn rounded-pill" (click)="voltarFoto()">
							<i class="fas fa-chevron-left"></i>
						</button>
					</div>
					<div class="fade show" id="voltar">
						<button class="btn rounded-pill" (click)="proximaFoto()">
							<i class="fas fa-chevron-right align-middle"></i>
						</button>
					</div>
				</div>
				<div class="fotos" (scroll)="onScroll()">
					<img src="http://via.placeholder.com/180x180">
					<img src="http://via.placeholder.com/180x180">
					<img src="http://via.placeholder.com/180x180">
					<img src="http://via.placeholder.com/180x180">
					<img src="http://via.placeholder.com/180x180">
					<img src="http://via.placeholder.com/180x180">
					<img src="http://via.placeholder.com/180x180">
					<img src="http://via.placeholder.com/180x180">
					<img src="http://via.placeholder.com/180x180">
				</div>
			</div>
			<div id="filtros">
				<div class="btn-group-toggle text-center mt-4" data-toggle="buttons">
					<label class="btn btn-sm" *ngFor="let pelagem of listaPelagem">
						<input type="checkbox" autocomplete="off"> {{ pelagem.descricao }}
					</label>
				</div>
				<div class="btn-group-toggle text-center mt-3" data-toggle="buttons">
					<label class="btn btn-sm" *ngFor="let raca of listaRaca">
						<input type="checkbox" autocomplete="off"> {{ raca.descricao }}
					</label>
				</div>
				<div class="btn-group-toggle text-center mt-3 mb-2" data-toggle="buttons">
					<label class="btn btn-sm" *ngFor="let tamanho of listaTamanho">
						<input type="checkbox" autocomplete="off"> {{ tamanho.descricao }}
					</label>
				</div>
			</div>
			<div id="teste" class="text-center">
				<button *ngFor="let categoria of listaCategoria; let i = index" class="btn-categoria {{ categoria.id }}"
					[ngClass]="{'ativo': categoria.ativado}" (click)="trocarCategoria(i)"></button>
			</div>
		</div>
		<div id="pesquisa" class="item" *ngSwitchCase="'pesquisa'"></div>
	</div>
</div>