<form>
  <!-- STEP 1 -->
  <div class="">
    <h3>Esqueceu seu E-mail?</h3>
    <p style="margin-top: 25px;">Calma, ajudaremos você a localizá-lo e assim acessar sua conta novamente.</p>

    <div class="form-group" style="margin-top:55px;">
      <!-- <label for="nome">Nome</label> -->
      <input type="text" class="form-control" id="nome" placeholder="Nome" autocomplete="off" required>
    </div>
    <div class="form-group" style="margin-top:5px;">
      <!-- <label for="sobrenome">Sobrenome</label> -->
      <input type="text" class="form-control" id="sobrenome" placeholder="Sobrenome" autocomplete="off" required>
    </div>

    <div class="form-group row">
      <div class="col-2 col-form-label">
        <img src="../../../assets/amazon/Bandeiras/brasil.png" width="38" alt="" srcset="">
      </div>
      <div class="col-10">
        <!-- <label for="telefone">Telefone</label> -->
        <input type="text" class="form-control" id="telefone" placeholder="Telefone" autocomplete="off" required>
      </div>
    </div>
    <small id="telefone-ajuda" class="form-text text-muted">O Dogão verificará esse número a partir do envio de um SMS
      (sujeito a cobranças).</small>

    <div class="clearfix" style="margin-top: 30px; margin-bottom:30px;">
      <button type="submit" class="btn btn-radius btn-success float-right">Próxima</button>
    </div>
  </div>

  <!-- STEP 2 -->
  <div class="d-none">
    <h3>Seu código foi enviado...</h3>
    <p style="margin-top: 25px;">Dentro de segundos, você irá receber um código de verificação, caso demore muito.
      realize outra verificação</p>

    <div class="form-group" style="margin-top:25px;">
      <!-- <label for="codigo-verificacao">Código de verificação</label> -->
      <input type="text" class="form-control" id="codigo-verificacao" placeholder="Código de verificação"
        autocomplete="off" required>
      <small id="telefone-ajuda" class="form-text text-muted">O Dogão verificará esse número a partir do envio de um SMS
        (sujeito a cobranças).</small>
    </div>

    <div class="clearfix" style="margin-top: 30px; margin-bottom:30px;">
      <button type="submit" class="btn btn-radius btn-success float-left">Reenviar código (N segundos)</button>
      <button type="submit" class="btn btn-radius btn-success float-right">Próxima</button>
    </div>
  </div>

  <!-- STEP 3 -->
  <div class="d-none">
    <img src="../../../assets/amazon/user-default.png" width="130" alt="" srcset=""
      style="border-radius: 50%; margin-bottom: 10px;">

    <h3>Olá Matheus</h3>
    <p>matheus.bonore@gmail.com</p>

    <div class="form-group" style="margin-top:15px;">
      <!-- <label for="senha">Senha</label> -->
      <input type="text" class="form-control" id="senha" placeholder="Senha" autocomplete="off" required>
      <div class="clearfix" style="margin-top: 10px;">
        <button type="button" [routerLink]='["/autenticacao/recuperar/senha"]' class="btn btn-link float-left">Não é
          você?</button>
        <!-- Voltar para o step 1 -->
        <button type="submit" class="btn btn-radius btn-success float-right">Próxima</button>
      </div>
    </div>
  </div>
</form>