<div class="modal-itens" *ngIf="itemAtivado">
  <div class="itens shadow-lg" [ngSwitch]="itemAtivado">

    <div *ngSwitchCase="1" id="categorias">
      <div class="input-group pesquisar">
        <div class="input-group-prepend">
          <button class="pesquisar rounded-circle border-0" (click)="fecharItem()">
            <i class="fas fa-arrow-left"></i>
          </button>
        </div>

        <input type="text" class="form-control border-0 rounded-pill ml-2 mr-2"
          style="height:40px; background-color: #FFF;" id="pesquisar" placeholder="Pesquisar">

        <div class="input-group-prepend">
          <button for="pesquisar" class="pesquisar rounded-circle border-0">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>

      <div class="item-categoria" id="comunidade">
        <h3>Comunidade</h3>

        <div class="galeria-fotos" (scroll)="onScroll()">
          <img src="http://via.placeholder.com/180x180" alt="">
          <img src="http://via.placeholder.com/180x180" alt="">
          <img src="http://via.placeholder.com/180x180" alt="">
          <img src="http://via.placeholder.com/180x180" alt="">
          <img src="http://via.placeholder.com/180x180" alt="">
          <img src="http://via.placeholder.com/180x180" alt="">
          <img src="http://via.placeholder.com/180x180" alt="">
          <img src="http://via.placeholder.com/180x180" alt="">
          <img src="http://via.placeholder.com/180x180" alt="">
          <div class="controle-galeria fade show" id="voltar">
            <button class="btn shadow rounded-pill" (click)="proximaFoto()">
              <i class="fas fa-chevron-right align-middle"></i>
            </button>
          </div>
          <div class="controle-galeria fade" id="proximo">
            <button class="btn shadow rounded-pill" (click)="voltarFoto()">
              <i class="fas fa-chevron-left"></i>
            </button>
          </div>
        </div>

      </div>

      <div class="item-categoria d-none" id="achados">
        ACHADOS
      </div>

      <div class="item-categoria d-none" id="doacoes">
        DOAÇÃO
      </div>

      <div class="item-categoria d-none" id="perdidos">
        PERDIDOS
      </div>

      <div class="selecionar">
        <label for="{{filtro.id}}" *ngFor="let filtro of filtros">
          <input class="d-none" type="checkbox" id="{{filtro.id}}" name="scales" checked>
          {{filtro.nome}}
        </label>
        <Button class="btn rounded-pill">Selecionar</Button>
      </div>
    </div>

    <div *ngSwitchCase="2" id="pesquisar">
      <div class="input-group pesquisar">
        <div class="input-group-prepend">
          <button class="pesquisar rounded-circle border-0" (click)="fecharItem()">
            <i class="fas fa-arrow-left"></i>
          </button>
        </div>

        <input type="text" class="form-control border-0 rounded-pill ml-2 mr-2"
          style="height:40px; background-color: #FFF;" id="pesquisar" placeholder="Pesquisar">

        <div class="input-group-prepend">
          <button for="pesquisar" class="pesquisar rounded-circle border-0">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>

      <label for="{{filtro.id}}" *ngFor="let filtro of filtros">
        <input class="d-none" type="checkbox" id="{{filtro.id}}" name="scales" checked>
        {{filtro.nome}}
      </label>
    </div>

  </div>
</div>

<div class="w-100 h-100" style="background-color: #EAEAEA;">
  <app-nav-bar (childEvent)="obterItem($event)"></app-nav-bar>
  <app-linha-tempo></app-linha-tempo>
  <app-nav-bar-bottom (childEvent)="obterItem($event)"></app-nav-bar-bottom>
</div>