@use "../../assets/sass/app" as app;

div.modal-itens {
  background-color: rgba(255, 255, 255, 0.5);

  justify-content: center;
  position: fixed;
  z-index: 1050;

  height: 100%;
  width: 100%;
  div.itens {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 25px;

    margin: 7.75rem auto;

    height: 100%;
    width: 100%;

    max-height: 700px;
    max-width: 500px;
    div#categorias {
      position: relative;

      height: 100%;
      width: 100%;
      div.pesquisar {
        position: absolute;
        padding: 20px;
        input {
          width: 40px;
          height: auto;
        }
        button {
          @include app.btn-default(transparent, #fff, #fff, 0);
          width: 40px;
          height: 40px;
        }
      }
      div.item-categoria {
        border-bottom: solid 4px;
        border-radius: 25px;

        padding: 80px 0;

        width: 100%;
        height: 100%;

        text-align: center;
        color: #fff;
      }
      div#comunidade {
        background-color: #00a1f1;
        border-bottom-color: #0080bc;
      }
      div#achados {
        background-color: #7cbb00;
        border-bottom-color: #669900;
      }
      div#doacoes {
        background-color: #ffbb00;
        border-bottom-color: #664a00;
      }
      div#perdidos {
        background-color: #f65314;
        border-bottom-color: #300e02;
      }
      div.selecionar {
        text-align: center;
        position: absolute;
        bottom: 0;

        padding: 20px;

        width: 100%;
        button{
          @include app.btn-default(#fff, #343a40, #fff, 0.8);

          width: 40%;
          height: 40px;
        }
      }
    }
    div#pesquisar {
      background-color: #fff;
      border-radius: 25px;

      width: 100%;
      height: 100%;

      padding: 20px;
      .pesquisar {
        input {
          background-color: rgba($color: #343a40, $alpha: 0.1) !important;
          width: 40px;
          height: auto;
        }
        button {
          @include app.btn-default(transparent, #343a40, #000, 0);
          width: 40px;
          height: 40px;
        }
      }
    }

    @media screen and (max-width: 767px) {
      border-radius: 0px;

      margin: 0 auto;

      max-height: none;
      max-width: none;
      div#categorias {
        div.item-categoria {
          border-bottom: none;
          border-radius: 0px;
        }
      }
      div#pesquisar {
        border-radius: 0px;
      }
      &::before {
        height: calc(100vh - 3.5rem);
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
      }
    }
  }
}

div.galeria-fotos {
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;

  margin: 20px 0px 20px 0;

  width: inherit;
  height: 180px;

  overflow-x: none;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  img {
    margin-left: 15px;

    width: 180px;
    height: 180px;
  }
  img:first-child {
    margin-left: 0;
  }
  div.controle-galeria {
    button {
      @include app.btn-default(#fff, #343a40, #fff, 0.5);
      position: absolute;

      width: 80px;
      height: 40px;
    }
  }
  div#voltar {
    right: 0;
    button {
      right: -25px;
    }
  }
  div#proximo {
    left: 0;
    button {
      left: -25px;
    }
  }
}
