.categoria {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;

  .itens {
    color: white;
    width: 400%;
    height: inherit;

    .tab {
      float: left;
      width: 25%;
      height: 100%;
      text-align: center;

      .galeria {
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        .fotos {
          width: max-content;
          height: inherit;

          display: flex;

          flex-direction: row;
          justify-content: center;
          align-items: center;

          padding-right: 15px;
          padding-left: 15px;

          .foto {
            background-color: #f0f2f5;
            border-radius: 4px;
            margin: 0 10px 0 10px;
            width: 180px;
            height: 180px;
            overflow: hidden;
            img {
              height: 180px;
            }
          }
        }
      }
    }

    #comunidade {
      background-color: #00a1f1;
      .selecionar {
        color: #00a1f1;
      }
    }

    #achados {
      background-color: #7cbb00;
      .selecionar {
        color: #7cbb00;
      }
    }

    #doacao {
      background-color: #ffbb00;
      .selecionar {
        color: #ffbb00;
      }
    }

    #perdidos {
      background-color: #f65314;
      .selecionar {
        color: #f65314;
      }
    }

    .selecionar {
      background-color: white;
      border: none;
      color: #00a1f1;

      min-height: 40px;
      min-width: 40px;

      text-decoration: none;
      cursor: pointer;
      outline: none;

      border-radius: 50rem;

      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    }
  }
}

$cor-padrao: rgba(67, 67, 67, 1);
$cor-padrao-selecionado: rgb(230, 230, 230);
$cor-padrao-precionado: rgba(242, 242, 242, 0.5);

@mixin botao-efeito {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 40px;
  min-width: 40px;

  text-decoration: none;
  cursor: pointer;
  outline: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  border: none;
  background: none;
  border-radius: 50rem;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  color: $cor-padrao;

  /* mouse over link */
  &:hover,
  &:focus {
    background-color: $cor-padrao-selecionado;
  }

  /* selected link */
  &:active {
    background-color: $cor-padrao-precionado;
  }
}

.pesquisar {
  @include botao-efeito;

  color: white;
  &:hover,
  &:focus {
    background-color: transparent;
  }

  /* selected link */
  &:active {
    background-color: transparent;
  }
}

.filtro {
  // display: contents;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;

  label {
    @include botao-efeito;
    display: inline-flex;

    color: white;

    padding-left: 10px;
    padding-right: 10px;

    border: solid 2px rgba(242, 242, 242, 0.5);

    margin: 3px;

    /* mouse over link */
    &:hover,
    &:focus {
      background-color: $cor-padrao-selecionado;
      color: $cor-padrao;
    }

    /* selected link */
    &:active {
      background-color: $cor-padrao-precionado;
      color: $cor-padrao;
    }
  }
}
